mixin article-list(list, type)
	- var out;
	-	var size = {'small': ['col-md-4', 'col-md-4', 'col-md-4'], 'bigStart': ['col-md-8', 'col-md-4'], 'bigEnd': ['col-md-4', 'col-md-8'], 'big': ['col-md-12']};

	-	Object.getOwnPropertyNames(size).forEach(function (key) {
		if key === type
			- out = size[key];
			- return out;
	-});

	each item, index in list
		if item.length > out.length
			break
		.article-list__item.col-12(class= '__js_news-list-item ' + `${out[index]} ` + item.class)
			.article-preview(tebindex="0")
				.article-preview__image
					img(src=item.img, width="356", height="356", alt="")
				.article-preview__content
					time.article-preview__date(datetime="2020-12-15")= item.date
					h3.article-preview__heading= item.title
					.article-preview__text= item.text
					a.article-preview__btn(href="#") continue
